<!-- UI for browser -->

<div class="welcomediv" ngClass.sm="hideOnWeb" ngClass.xs="hideOnWeb">

    <div fxLayoutAlign="center center" fxLayout="row" style="width: 100%">
        <div>
            <img src="./assets/calendar.png" height="300px">
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" style="margin-left: 20px;">
            <p class="introtext" style="font-size: 36px;">ERROR 404</p>
            <p class="introtext" style="font-size: 24px;">This is not the page you are looking for</p>
            <button mat-button class="action" [routerLink]="'/'" >Go back </button>

        </div>

    </div>

</div>


<!-- UI for mobile -->

<div class="welcomedivmobile" fxLayout="column" ngClass.md="hideOnWeb" ngClass.lg="hideOnWeb" ngClass.xl="hideOnWeb">
    <div fxLayoutAlign="center center" fxLayout="column" style="width: 100%">
        <div>
            <img src="./assets/calendar.png" height="200px">
        </div>
        <div fxLayout="column" fxLayoutAlign="center center"
            style="margin: 50px 5px;text-align: center;line-height: normal;">
            <p class="introtext" style="font-size: 36px;">ERROR 404</p>
            <p class="introtext" style="font-size: 24px;">This is not the page you are looking for</p>
            <button mat-button class="action" [routerLink]="'/'" >Go back </button>

        </div>

    </div>
</div>