<div style="text-align: center;margin:10px;">
    <h1>Farms</h1>
</div>

<div class="cardcontainer" fxLayout="column wrap" fxLayout.xs="column" fxLayoutAlign="center center">

    <div class="farmcontainer" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">

        <mat-card *ngFor="let farm of (userInfo)?.farms" class="farmcard">
            <div>
                {{farm.index}} | {{farm.name}} || {{farm.location}}
            </div>

            <div>
                <button mat-mini-fab color="white" style="margin-right: 10px;">
                    <mat-icon [matMenuTriggerFor]="qweq">more_horiz</mat-icon>
                </button>

                <mat-menu #qweq="matMenu">
                    <button (click)='editFarm(farm.index,farm.location,farm.name)' mat-menu-item>
                        <mat-icon style="margin-right: 20px;">edit</mat-icon>
                        Edit
                    </button>
                    <button (click)='deleteFarm(farm.index)' mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        Delete
                    </button>
                </mat-menu>
                <button (click)="viewFarmDetail(farm.index)" mat-mini-fab color="white">
                    <mat-icon>launch</mat-icon>
                </button>

            </div>
        </mat-card>

    </div>

</div>


<mat-toolbar class="toolbarNav">
    <button mat-icon-button color="white" (click)="goHome()">
        <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button color="white" (click)="addFarm()">
        <mat-icon class="material-icons">add</mat-icon>
    </button>

    <button mat-icon-button color="white" (click)="authService.SignOut()">
        <mat-icon class="material-icons">logout</mat-icon>
    </button>

</mat-toolbar>