#vstepper {
    display: none;
}

#hstepper {
    display: inline;
}



@media only screen and (max-width: 800px) {
    #vstepper {
        width: 90%;
        margin: 10px auto;
        display: inline;
    }

    #hstepper {
        width: 90%;
        margin: 10px auto;
        display: none;
    }

}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */


.cardcontainer {
    margin: 60px 0px;

}

.cardcontainer a {
    text-decoration: none;

}

.varietycard {
    max-width: 250px;
    width: 200px;
    margin: 10px 50px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mobile {
    margin: 10px;

}

.varietytitle {
    width: 100%;
    text-align: center;
    font-size: 30px;
}


@media only screen and (max-width: 600px) {
    .varietycard {
        max-width: 220px;
        margin: 10px;
    }

    .varietytitle {
        margin: 20px 0px;
        font-size: 26px;
    }

}



#stepper {
    width: 80%;
    margin: auto;
}


:host::ng-deep .mat-stepper-horizontal {
    width: 80%;
    margin: auto;
}

.resultLabel {
    text-align: center;
    font-size: 24px;
    line-height: normal;
    width: 100%;
    margin: 50px 0px;
}

.userinput {
    font-weight: 500;
    font-style: italic;
}

.currentStatus {
    font-size: 16px;
}

:host::ng-deep mzd-timeline .mzd-timeline-line.no-alternate.left {
    left: 30px;
    right: auto;
}