<mat-toolbar class="sarainav">
  <mat-toolbar-row>

    <a href="/"><img src="./assets/sarai-logo.png" height="40px" fxShow="true" fxHide.xs="true"/></a>
    <a href="/"><img src="./assets/sarai-logo-xs.png" height="40px" fxHide.sm="true" fxHide.md="true" fxHide.lg="true" fxHide.xl="true"/></a>
    <span class="filter-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">

      <span class="navmenu">
        <a href="https://sarai.ph/about-us"><button mat-button>About Us</button></a>
        <a href="https://sarai.ph/advisories"><button mat-button>Advisory</button></a>



        <a href="http://maps.sarai.ph"><button mat-button>Maps</button></a>

        <button mat-button [matMenuTriggerFor]="afterMenu">Services</button>
        <mat-menu #afterMenu="matMenu" xPosition="after" backdropClass="customize">
          <a href="https://sarai.ph/heat-map-rainfall-outlook"><button mat-menu-item>Rainfall Outlook</button></a>
          <a href="https://sarai.ph/drought"><button mat-menu-item>Drough Forecast</button></a>
          <a href="https://sarai.ph/weather-monitoring"><button mat-menu-item>Weather Forecast</button></a>
          <a href="http://202.92.144.48/"><button mat-menu-item>Sarai Community</button></a>
        </mat-menu>
      </span>
    </div>
    <span><img src="./assets/dost-pcaarrd-uplb.png" style="width: 110px;"></span>

  </mat-toolbar-row>
</mat-toolbar>



  <router-outlet></router-outlet>

