<!-- UI for browser -->

<div>
    <div class="welcomediv">
        <div class='welcomecontent'>
            <div>
                <img src="./assets/calendar.png" class='welcicon'>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <p class="introtext">BanaTech</p>
                <p class="tagline">Banana Harvest Date Calculator</p>
                <p class="tagline">Know when to harvest Lakatan and Saba bananas based on local weather</p>
                <button mat-button class="action" [routerLink]="'/form'">Calculate Harvest Date</button>

                <div style="padding: 20px; font-size:1.2rem;font-weight:500;display: flex;align-items: center;justify-content: center;"><img
                        src="./assets/cone.png">Development Version 0.2</div>
            </div>
        </div>
    </div>
    <!-- <div style="padding:20px">
        Assumptions: <br>
        <ol>
            <li>Based on PSA yield estimates</li>
            <li>wwwwwwww</li>
            <li>wwwwwwww</li>
            <li>wwwwwwww</li>
            <li>wwwwwwww</li>

        </ol>
    </div> -->

</div>

